<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ShowInfo</title>
<style>
	
#all{
		margin:0px auto;
		width:500px;
		height: 200px;

	}

</style>
</head>

<body>


<div class="body" id='all'>
		<b>1710 Pengyun,Wang</b>
<table>
	<tr>
		<td>name</td>
		<!-- <td>Points</td> -->
		<!-- <td>State</td>
		<td>Room</td> -->
		<td>Picture</td>
		<td>Favorite</td>
	</tr>
		{% for i in data %}
<tr>
	<td>
		{{i[0]}}
	</td>
<!-- 	<td>
		{{i[1]}}
	</td> -->
<!-- 		<td>
		{{i[2]}}
	</td>
		<td>
		{{i[3]}}
	</td> -->
		<td>
			{% if i[4]  %}
			{% if i[4] =='Picture'%}
			{{i[4]}}
			{% else  %}
		<img width="50" height='50' src="{{ url_for('static', filename=i[4]) }}" alt="" />
		{% endif %}
		{% else  %}
		<a>Null</a>
		{% endif %}
	</td>
	<td>
		{{i[5]}}
	</td>
</tr>
	{% endfor %}

</table>
	




<hr />
<div id="footer" style="text-align:center;"><b>copyright@2019 All rights reserved|This web is made by Anakin</b></div>

</div>
</body>
</html>
