<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ShowInfo</title>
<style>
	
#all{
		margin:0px auto;

	}
	a{
		margin: 0px auto;
	}
</style>
</head>

<body>
	

<div class="body" style="text-align: center;">
	<b>1710 Pengyun,Wang</b>
	<br />
	<b>Between 2-8 million</b>
<table cellspacing="10">
	<tr>
		<td>Name</td>
		<td>Total pop</td>


	</tr>

		{% for i in data1 %}
<tr>
	<td>
		{{i[0]}}
	</td>
	<td>
		{{i[1]}}
	</td>

</tr>
	{% endfor %}

</table>

	<b>Between 8-40 million</b>
<table cellspacing="10">
	<tr>
		<td>Name</td>
		<td>Total pop</td>


	</tr>

		{% for i in data2 %}
<tr>
	<td>
		{{i[0]}}
	</td>
	<td>
		{{i[1]}}
	</td>

</tr>
	{% endfor %}

</table>
	




<hr />
<div id="footer" style="text-align:center;"><b>copyright@2019 All rights reserved|This web is made by Anakin</b></div>

</div>
</body>
</html>
