<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery.form.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>	

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
<style>
	
	#all{
		margin: 0 100px;

	}
</style>
</head>

<body>
<div id="all">
<!--   <div><b>ab.jpg</b><img src="{{ url_for('static', filename='ab.jpg') }}"></div>
<hr>
 <div><b>dar.jpg</b><img src="{{ url_for('static', filename='dar.jpg') }}"></div>
<hr>
 <div><b>dave.jpg</b><img src="{{ url_for('static', filename='dave.jpg') }}"></div>
<hr>
 <div><b>jason.jpg</b><img src="{{ url_for('static', filename='jason.jpg') }}"></div>
<hr>
 <div><b>jees.jpg</b><img src="{{ url_for('static', filename='jees.jpg') }}"></div>
<hr> -->

<div style='margin: 0px 20px;'><b>1710 Pengyun,Wang</b></div>
<br />
<a href="/createtable">Show cost time of create table</a>
<br />
<a href="/searchtable">Show cost time of query table</a>
<br />


<hr />
<!-- <a style='align-items: center;' href="/pic">Picture</a>
<hr />
<form action="" enctype="multipart/form-data" method="POST">
	<input type="file" id='myfile' name='file' />
	<label for="myfile">Click here to upload</label>
	<input type="submit" value='upload' />

</form>
<hr /> -->
<!--  <div><b>ab.jpg</b><img src="{{ url_for('static', filename='ab.jpg') }}"></div>
<hr> -->



<div id="footer" style="text-align:center;"><b>copyright@2019 All rights reserved|This web is made by Anakin</b></div>

</div>
</body>
</html>
